
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tours and Travels Website|wanderlusts.com </title>
    <link rel="icon" href="{% static 'enter1/images/logy.png' %}">
    <link rel="stylesheet" href="{% static 'enter1/images/home.css' %}">

</head>








<body>
     {% block content %}

    <nav id="navbar">
        <div id="logo">
            <img src="{% static 'enter1/images/logy.png' %}" alt="forwanderlusts.com">
        </div>
        <ul>
            <li class="item"><a href ="#">Home </a></li>
             
            
            <li class="item"><a href ="#">Offers</a></li>
            <li class="item"><a href ="#">Write Your Experience</a></li>
            <li class="item"><a href ="#">Contact us</a></li>


            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Choose Your Destination</button>
                <div  id="myDropdown" class="dropdown-content">
                  <a href="project.html" target="_blank">Kerala</a>
                   <a href="new.html" target="_blank">Rajasthan</a>
                  <a href="shimla.html" target="_blank" >Shimla</a>
                  <a href="shillong.html"target="_blank" >Shillong</a>
                </div>
              </div>

             {%  if user.is_authenticated %}
               <a  style="color:white;font-size:30px;" href="{% url 'logout' %}"><strong>Logout</strong></a>

             {% else %}
            <a  style="color:white;font-size:30px;" href="{% url 'login_url' %}"><strong>Login</strong></a>
           {% endif %}

            <li class="item"><a href ="{% url 'register' %}" target="_blank"> <img src="{% static 'enter1/images/new.png' %}" alt=""></a>
            </li>

        </ul>
    </nav>






    <section id="home" class="container">
       <div class="myvideo"><video src="{% static 'enter1/images/video.mp4' %}" autoplay="true" loop="true">
          </video>
        </div>
        <div class="header-overlay"></div>
      <div class="header-content"> 
  <h1 class="h-primary">An Online Travel Company</h1>
<div class="checkfloat">
    <div class="leftfloat">
        <h2>WELCOME  {{ user.username }}</h2>
<p>"Travel opens your heart, broadens your mind, and fills your life with stories to tell. <br> Adventures 
    fill souls. <br> With us your travel is going to be more REWARDING
     
     </p>
    </div>
    </div>
    </div>
   </section>





   <section id="exoloc" class="box2">
       <h1 class= "h-first">EXOTIC LOCATIONS</h1>
       <h3 class= "h-second">FOR YOUR AMAZING VACATIONS</h3>

           <div id="slider">
               <figure>
                   <img src="{% static 'enter1/images/goa.jpg' %}" alt="">
                    <img src="{% static 'enter1/images/rajathan.jpg' %}" alt="">
                   <img src="{% static 'enter1/images/chennai.jpg' %}" alt="">
                   <img src="{% static 'enter1/images/kashmir.jpg' %}" alt="">

               </figure>
           </div>

</section>
   





<section id="pet" class="box3">
    <div id="rightfloat" class="pettext" >
        <h1 class= "heading">PETS ARE ALLOWED</h1>
    <p class="lines ">We know that your pets are your FAMILY and we care for our all GUESTS
    </p>
    </div>
    <div class="petpic petphoto">
        <img src="{% static 'enter1/images/pet2.jpg' %}" alt="">
    </div>
        
</section>








</section>


<section id="host" class="box5">
    <div class="child">
     <div class="text67">
         <h3>BECOME A HOST</h3>
         <P>Turn your extra space to extra income and EXPLORE new things</P>
         
     </div>
     <div class="btn"><button class="click">Know more</button>
     </div>
     
    </div>
   
        
</section>
<section id="reviews" class="box4">
    <h1 class= "first-h">DISCOVER EXPERIENCES</h1>
    <div class="real">
        <div class="boxa">
           
            <p>This was a great experience for my wife and me. We had previous experience with a commercial
                 Chai product, but with JD, we gained a new appreciation for the history of Chai.
                 </p>
        </div>
        <div class="boxb">
           
            <p>The experience is impressive!I really like it.I learnt so much about Hinduism knowledge and 
                culture. It is very informative and interactive.I recommend it to everyone!What a wonderful
                 experience!
                 .</p>
        </div>

        <div class="boxc">
           
            <p>It is amazing how Tulsi, my guide, lives the tour and explains all the stops, takes you to
                 magical places where you can find history, smells, flavors, many colors and lots of fun.
                 .</p>
        </div>
    </div>

   <footer class="footer">
       <div class="inner-footer">
           <div class="quicklinks">
               <ul>
                   <li class="quickitems"><a href="#">About Us</a></li>
                   <li class="quickitems"><a href="#">Payment Security</a></li>
                   <li class="quickitems"><a href="#">Privacy Policy</a></li>
                   <li class="quickitems"><a href="#">Terms Of Service</a></li>
                   <li class="quickitems"><a href="#">Partnership Programs</a></li>
                  
                    
               </ul>
           </div>
       </div>
       <div class="outer-footer">
           &copy; wanderlusts.com | Designed by Firehawks
       </div>
   </footer>

  {% endblock %}
</body>
</html>