{% load static %}

<html>
<head>
<title>Shimla - The Queen Of Hills</title>
<link rel="stylesheet" href="{% static 'enter1/images/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>

<div class="banner-area">
  <table class="nav">
   <tr>
     <td><a href="#About" class="nav1">About</a></td>
     <td><a href="#Map" class="nav1">Map</a></td>
     <td><a href="#Image_gallery" class="nav1">Image gallery</a></td>
     <td><a href="#Tickets" class="nav1">Tickets</a></td>
     <td><a href="#Hotels" class="nav1">Hotels</a></td>
     <td><a href="#Food" class="nav1">Food</a></td>
     <td><a href="#Contact" class="nav1">Contact Us</a></td>
   </tr>
  </table>
    <div class="content-area">
     <div class="content">
       <h1>SHIMLA</h1>
       <p id="para1">The Queen Of Hills</p>
     </div>
 </div>
</div>

<!-- main area-->
<div class="container">
<a id="About">
 <div class="box">
 <p><b>Shimla</b> is the capital of the northern Indian state of Himachal Pradesh, in the Himalayan foothills. Once the summer capital of British India, it remains the terminus of the narrow-gauge Kalka-Shimla Railway, completed in 1903. It’s also known for the handicraft shops that line The Mall, a pedestrian avenue, as well as the Lakkar Bazaar, a market specializing in wooden toys and crafts.
</p>
</div>
</div>

<div class="container">
 <div class="box">
 <p>Among the most popular hill stations in India, Shimla holds a distinct place owing to its unique charm. Located at a distance of 342 km from the national capital, Delhi, Shimla is a great choice for a weekend getaway from Delhi and Chandigarh since there are so many places to visit in Shimla. Shimla is the capital city of Himachal Pradesh, and all it possesses and all it offers helps it easily justify its reputation and position as the capital city of a beautiful state, widely known for adventure activities and natural wonders. Laden with beautiful, dense forests of Pine, Oak, and Deodar, Shimla is refreshing in its very existence. </p>
</p>
</div>
</div>

<div class="container">
 <div class="box">
<p>The picturesqueness of this beautiful hill station makes it an apt destination for photographers looking for perfect frames and nature enthusiasts who want explore the nature in its pristine form. It is quite interesting that despite being home to a large population, the biosphere of Shimla is still in an excellent form. Shimla exhibits a very relaxing mood to those who visit it in search of tranquility. 
</p>
</div>
</div>
</a>


<div class="head">
<a id="Map">
 <h1>On the map</h1>
</div>
<div class="map">
  <div class="mapimg">
    <center>
      <img src="{% static 'enter1/images/map2.jpg' %}" >
    </center>
  </div>
</div>

<div class="head">
<a id="Image_gallery">
 <h1>IMAGE GALLERY</h1>
</div>

<div>
        <div class="wave">
            <img src="{% static 'enter1/images/ridge.jpg' %}" alt="Shimla"></img>
            <h3>THE SCANDAL POINT RIDGE</h3>
        </div>
        <div class="wave">
            <img src="{% static 'enter1/images/chadwickfall.jpg' %}" ></img>
            <h3>CHADWICK FALLS</h3>
        </div>
        <div class="wave">
            <img src="{% static 'enter1/images/annandale.jpg' %}" ></img>
            <h3>ANNANDALE</h3>
        </div>
        <div class="wave">
            <img src="{% static 'enter1/images/jakhoo.jpg' %}"></img>
            <h3>JAKHOO HILL</h3>
        </div>
        <div class="wave">
            <img src="{% static 'enter1/images/museum.jpg' %}" ></img>
            <h3>SHIMLA STATE MUSEUM</h3>
        </div>
        <div class="wave">
            <img src="{% static 'enter1/images/kufri.jpg' %}"></img>
            <h3>KUFRI</h3>
        </div>
        <div class="wave">
           <img src ="{% static 'enter1/images/mallroad.jpg' %}"></img>
            <h3>THE MALL ROAD</h3>
        </div>
         <div class="wave">
           <img src ="{% static 'enter1/images/christ.jpg' %}"></img>
            <h3>THE CHRIST CHURCH</h3>
        </div>
   </a>
 </div>

<a id="Tickets">
<table class="tickets">
<tr>
<td colspan="2">
<div class="head">
 <h1>Tickets</h1>
</div>
</td>
</tr>
<tr>
<td><div class="tabhead"><h1> FLIGHTS  <i class="fa fa-plane"></i></h1></div></td>
<td><div class="tabhead"><h1> TRAINS   <i class="fa fa-train"></i> </h1></div></td>
<tr>
<td>

<table class="a">
<tr class="ahead">
<th>S.NO.</th>
<th>FLIGHT NO.</th>
<th>TIME</th>
<th>PRICE</th>
</tr>
<tr class="b">
<td>1.</td>
<td>DS4509</td>
<td>8:00 AM </td>
<td>INR 3500</td>
</tr>
<tr class="c">
<td>2.</td>
<td>DS4510</td>
<td>9:00 AM </td>
<td>INR 3510</td>
</tr>
<tr class="b">
<td>3.</td>
<td>DS4511</td>
<td>10:00 AM </td>
<td>INR 3510</td>
</tr>
<tr class="c">
<td>4.</td>
<td>DS4512</td>
<td>11:00 AM </td>
<td>INR 3515</td>
</tr>
<tr class="b">
<td>5.</td>
<td>DS4513</td>
<td>1:00 PM </td>
<td>INR 3520</td>
</tr>
<tr class="ahead">
<td colspan="4"><h2>Total distance=343 kilometres</h2></td>
<tr>
</table>
</td>

<td>
<table class="a">
<tr class="ahead">
<th>S.NO.</th>
<th>TRAIN NO.</th>
<th>TIME</th>
<th> PRICE</th>
</tr>
<tr class="b">
<td>1.</td>
<td>12509</td>
<td>2:00 PM </td>
<td>INR 2500</td>
</tr>
<tr class="c">
<td>2.</td>
<td>12510</td>
<td>3:00 PM </td>
<td>INR 2540</td>
</tr>
</tr>
<tr class="b">
<td>3.</td>
<td>12511</td>
<td>4:00 PM </td>
<td>INR 2400</td>
</tr>
<tr class="c">
<td>4.</td>
<td>12512</td>
<td>5:00 PM </td>
<td>INR 2545</td>
</tr>
<tr class="b">
<td>5.</td>
<td>12513</td>
<td>6:00 PM </td>
<td>INR 2430</td>
</tr>
<tr class="ahead">
<td colspan="4"><h2>Total distance=343 kilometres</h2></td>
<tr>
</table>

</td>
</tr>
</table>
</a>


<div class="cont">
 <div class="cab">
    <h1>Book a cab now & you can avail upto 50% off!!</h1>
  </div>
   <div class="cab">
     <div class="wave">
     <h2>Discount coupon code: rcgh456</h2>
     </div>
    </div>
</div>

<table>
<tr>
<td text-align="left">
<div class="head">
<h2> WHAT ARE YOU WAITING FOR???   BOOK YOUR HOTEL NOW!!!</h2>
</div>
</td>
<td text-align="right">
<div class="head">
<h2>Here Are The Top Featured Hotels Of The Week.Get an offer of upto 30% off on booking for more than one person...... </h2>
</div>
</td>
</tr>
</table>

<a id="Hotels">
<div class="cont">

 <div class="vbox">
<center>
<img src="{% static 'enter1/images/hotel12.jpg' %}" style="width:230px; height:240px;border-radius:50%;">
<h3>HOTEL OAKWOOD</h3></center>
<hr>
 <div class="vbox1">
  <p>PRICE:<em>INR</em> 15300/day</p>
 </div>
<center>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</center>
<hr>
<p>Indoor & Outdoor Pool,Free Wi-Fi,Spa</p> 
</div>

 <div class="vbox">
<center>
<img src="{% static 'enter1/images/hotel22.jpg' %}" style="width:230px; height:240px;border-radius:50%;">
<h3>EAST BOURNE RESORT</h3></center>
<hr>
<div class="vbox1">
  <p>PRICE:<em>INR</em> 15300/day</p>
 </div>
<center>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
</center>
<hr>
<p>Indoor & Outdoor Pool,Coffee Maker In Every Room,Room Service</p> 
 </div>

  <div class="vbox">
<center>
<img src="{% static 'enter1/images/hotel32.jpg' %}" style="width:230px; height:240px; border-radius:50%;">
<h3>SILICON INN</h3></center>
<hr>
<div class="vbox1">
  <p>PRICE:<em>INR</em> 15300/day</p>
 </div>
<center>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
</center>
<hr>
<p>Outdoor Pool,Bar,Room Service</p> 
</div>

<div class="vbox">
<center>
<img src="{% static 'enter1/images/hotel42.jpg' %}" style="width:230px; height:240px;border-radius:50%">
<h3>THE OBEROI CECIL</h3></center>
<hr>
<div class="vbox1">
  <p>PRICE:<em>INR</em> 15300/day</p>
 </div>
<center>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</center>
<hr>
<p>Indoor & Outdoor Pool,Free wi-fi,Room Service</p> 
</div>

  <div class="vbox">
<center>
<img src="{% static 'enter1/images/hotel52.jpg' %}" style="width:230px; height:240px; border-radius:50%;">
<h3>RADISSON JASS</h3></center>
<hr>
<div class="vbox1">
  <p>PRICE:<em>INR</em> 15300/day</p>
 </div>
<center>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
</center>
<hr>
<p>Indoor Pool,Free Wi-Fi,Bar,Restaurant</p> 
</div>

</div>
</a>

<a id="Food">
<div class="head">
 <h1>FOOD COURT</h1>
  <h2>Our specials in food</h2>
</div>

<div class="contfood">
<div class="food">
<center>
<img src="{% static 'enter1/images/madra.jpg' %}" style="width:280px; height:180px; ">
<hr>
<h3>CHANA MADRA</h3>
<hr>
<h4> Yoghurt-based curry or gravy from blend of chickpeas
 <b> VEGETARIAN DISH</b>
</h4>
</div>
<div class="food">
<center>
<img src="{% static 'enter1/images/babru.jpg' %}" style="width:280px; height:180px; ">
<hr>
<h3>BABRU</h3>
<hr>
<h4> Black gram or whole urad dal stuffed kachoris or puris
 <b> VEGETARIAN DISH</b>
</h4>
</div>
<div class="food">
<center>
<img src="{% static 'enter1/images/bhath.jpg' %}" style="width:280px; height:180px; ">
<hr>
<h3>TUDKIYA BHATH</h3>
<hr>
<h4> Made with rice, lentils and freshly ground spices....
 <b> VEGETARIAN DISH</b>
</h4>
</div>
</div>
</a>

<div class="cont">
  <a id="Contact">
  <table width=100% style="text-align:center;">
  <tr>
  <td>
  <h1><u>CONTACT US</u></h1>
   <br><br>
   <center>
   <table  style="text-align:center;border-spacing:15px;">
   <tr>
   <td><b>Instagram </b></td>
   <td><span class="fa fa-instagram"></span></td>
   <td> </td>
    </tr>
    <tr>
   <td><b>Facebook</b></td>
   <td><span class="fa fa-facebook"></span></td>
   <td>  </td>
   </tr>
   <tr>
   <td><b>Call on</b></td>
   <td><span class="fa fa-phone"></span></td>
   <td> 123456 </td>
   </tr>
   <tr>
   <td><b>Whatsapp </b></td> 
   <td> <span class="fa fa-whatsapp"></span></td>
   <td>456789 </td>
   </tr>
   </table> 
    </center>
   </td>
   <td>
    <b>Over 1 Million User Trust Us<br> And The Count Is Still Increasing!!!</b>
   </td>
    <td>
     <img src="{% static 'enter1/images/footer.jpg' %}" style="height:360px ;width:100%; border-radius:50%">
    </td>
   </tr>
  </table>
 </a>
</div> 

</body>
</html>