* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
/*--------------------------Top Section---------------------------*/

.header h1 {
  position: relative;
  font-size: 14vh;
  color: #252839;
  text-transform: uppercase;
  text-align: center;
}

.header h1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.categories {
  margin: 70px 0;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: black;
}

.containr {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.col_2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col_2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col_2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  padding-left: 25px;
  padding-right: 25px;
}
.col_2 p {
  padding-right: 25px;
  padding-left: 25px;
}
.btn {
  display: inline-block;
  background: black;
  color: aliceblue;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
  margin-bottom: 70px;
}

.btn:hover {
  background: #563434;
}

/*------------------Image Gallery--------------------------*/
.small_cont {
  max-width: 1080px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.carousel-cell img {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

/*------------------------heading----------------------------*/

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: black;
}

.title::after {
  content: "";
  background: gold;
  width: 80px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*------------Map-------------*/

#map {
  margin-left: 120px;
  padding-left: 10px;
  margin-bottom: 50px;
}

/*------------------------------Travel Cards-----------------------*/
.container-boxes {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 80vw;
}
.box1 {
  background: coral;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  max-height: 180px;
  min-height: 180px;
  transition: all 250ms ease-out;
}
.box1:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-20%);
}
.box1 a {
  text-decoration: none;
  color: black;
}
.icon {
  font-size: 3rem;
  padding: 1rem;
}
.text h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  color: black;
}
.text p {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.text {
  padding: 0.5rem;
}

/*---------------------------------------Table--------------------------------------*/
.table {
  display: flex;
  justify-content: space-around;
}
.table table {
  flex-wrap: wrap;
  box-shadow: -1px 12px 12px -6px rgba(0, 0, 0, 0.5);
}
x table,
td,
th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
  cursor: pointer;
}

td {
  font-size: 18px;
}
th {
  background-color: coral;
  color: white;
  cursor: pointer;
}
tr:nth-child(odd) {
  background-color: lightcoral;
}

tr:nth-child(odd):hover {
  background-color: lightsalmon;
  color: white;
  transform: scale(1.5);
  transition: transform 300ms ease-in;
}
tr:nth-child(even) {
  background-color: #ededed;
}

tr:nth-child(even):hover {
  background-color: lightgrey;
  color: white;
  transform: scale(1.5);
  transition: transform 300ms ease-in;
}

/*---------------------------------------------Hotels Images---------------------------------------------------*/

.container {
  margin-left: 70px;
  margin-bottom: 70px;
  position: relative;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 1s;
}

.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 91, 118, 0.952), #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgBox::before {
  opacity: 1;
}

.container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h4 {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  transform: translateY(180px);
}

.container .box:hover .content h4 {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box .content p {
  color: #fff;
  transform: translateY(180px);
  transition: 0.5s;
  font-size: 14px;
}

.rating {
  color: rgba(255, 166, 0, 0.918);
  transition: 0.5s;
  margin-bottom: 10px;
  transform: translateY(180px);
}
.container .box:hover .content .rating {
  color: rgba(255, 166, 0, 0.918);
  transition: 0.5s;
  margin-bottom: 10px;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.6s;
}

/*----------------------------------------Hotel Details------------------------------------------*/
.row {
  display: flex;
}
.col_4 {
  flex-wrap: wrap;
  flex-basis: 30%;
  min-width: 50px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col_4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: orange;
  width: 80px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  font-weight: normal;
  color: #555;
}
.col_4 {
  font-size: 14px;
}

.rating .fa {
  color: rgba(255, 166, 0, 0.918);
}
.col_4:hover {
  transform: translateY(-5px);
}

/*---------------------------------------Food Column--------------------------------------*/

.small_cont {
  max-width: 1080px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.col_3 {
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom: 30px;
}

.col_3 img {
  width: 100%;
}

.header .row {
  margin-top: 70px;
}

.testimonial {
  padding-top: 100px;
}
.testimonial .col_3 {
  background: white;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col_3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col_3:hover {
  transform: translateY(-10px);
}
.fa .fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*==============================Media Query=============================================*/
@media only screen and (max-width: 800px) {
  #hq {
    font-size: 60px;
  }
  .header .row {
    display: unset;
  }

  .col_2 {
    width: 400px;
    margin-left: 350px;
    margin-right: 20px;
    padding-left: 20px;
  }

  .col_2 p {
    letter-spacing: 1px;
    overflow: hidden;
    font-size: 16px;
    text-align: left;
  }

  .col_2 img {
    height: 450px;
  }

  .small_cont {
    width: 550px;
  }

  .carousel-cell img {
    width: 350px;
    padding-left: 5px;
    border-radius: 10px;
  }

  .container-boxes {
    display: block;
  }
  .box1 {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .table {
    display: block;
    margin-left: 350px;
    margin-right: 20px;

    padding-left: 20px;
  }

  .tb1 {
    margin-bottom: 30px;
  }
  #overlay {
    display: block;
  }

  .box {
    margin-left: 350px;
    margin-right: 20px;
    height: 300px;

    padding-left: 20px;
  }

  .col_4 {
    width: 400px;
    height: 400px;
    margin-left: 380px;
    margin-right: 20px;
    padding-left: 20px;
    margin-bottom: 200px;
  }

  .col_4 img {
    height: 300px;
  }

  .col_3 {
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
  }
}
