
body {
    height: 100vh;
    background-image:url("footer.jpg"),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}

.signup-box{
    width: 360px;
    height: 700px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box{
    width:360px ;
    min-height:300px ;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}


h1{
    text-align: center;
    padding-top: 15px;

}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.form-control{
    position: relative;
}

.form-control input:focus{
    outline: 0;
    border-color:purple;
}

.form-control small{
    color: red;
     /* position: relative; */
    bottom: 0;
    left: 0;
      visibility: hidden;   
}

.form-control.error small  {
      visibility: visible; 
}


.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control i{
     position: absolute; 
    right: 2%;
      visibility: hidden; 
                     /* --------------------------------- */
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

 .form-control.error i.fa-exclamation-circle{
    color:#e74c3c ;
    visibility: visible;
} 


#subbutton{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgba(138, 156, 55, 0.767);
    color: white;
    font-size: 18px;
    cursor:pointer;
}
#subbutton:hover{
    background: gray;
}

p{
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 20px;
}
.para-2 a{
    color: thistle;
}